:root{
  --red: #ff0000;
  --neonGreen: #2ed90c;
}

body{
  font-size: 13pt;
}

strong{
  text-wrap: nowrap;
}

.title{
  font-weight: bold;
  font-size: 15pt;
}


.description{
  margin: 5px 2px;
}

.info__link{
  text-decoration: none;
}

.info-green{
  color: var(--neonGreen);
}

.rights{
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  margin: 10px;
  width: 75%;
}

.rights__title{
  padding: 5px 25px;
  cursor: pointer;
}

.title-left{
  padding: 0 5px;
}

.rights__description{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.rights__options{
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /*align-items: center;
  text-align: center;*/
  transition: max-height 0.3s ease-in-out;
  padding: 0 100px;
  margin-top: 10px;
}

.rights__checkbox:checked ~.rights__description{
  max-height: 200px;
} 
.rights__checkbox:checked ~.rights__options{
  max-height: 1000px;
}

.rights__checkbox{
  display: none;
}

/*.rights__options{
  display: flex;
  flex-direction: column;
  margin: 5px 20px;
  text-wrap: wrap;
} */

.rights__options label {
  display: flex;
  align-items: flex-start;
  text-wrap: wrap;
  /*justify-content: center;*/
  width: 100%;
}


.rights__options .checkbox{
  margin-top: 3px;
  flex-shrink: 0;
}

.option{
  padding: 2px 0;
  line-height: 1.5em;
  flex-grow: 1;
  max-width: 600px;
}

.option__special{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.checkbox{
  margin-right: 15px;
}

table{
  width: 77%;
  border-collapse: collapse;
  margin: 20px 0;
  
}

tr, td, th{
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  width: 30%;
}

.specialWeight{
  font-weight: 100;
}

.specialBold{
  font-weight: bold;
}

.specialUnderline{
  text-decoration: underline;
}

.red{
 color: var(--red)
}

.data__table{
  margin-left: 10px;
}
